apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-jcljtmim
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-jcljtmim:849f1eafcebcaeea0bd5aa0329e6a765719864f2@sha256:6423c8c157301fc996202d8b249bf494491b7513c636eeaf6b1bdff58ab50674
        name: container-image  
